<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <h3 class="contentBoxTop"><%= me.nickname %></h3>

      <form class="user-form" action="/users" method="post">
        <fieldset disabled>
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">닉네임</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="name" name="name" value="<%= me.nickname %>">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">아이디</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="email" name="email" value="<%= me.email %>">
            </div>
          </div>
        </fieldset>
      </form>

      <div>
        <a class="btn btn-primary" href="/">뒤로가기</a>
        <a class="btn btn-primary" href="/users/<%= me.nickname %>/edit">수정</a>
        <form action="/users/<%= me.nickname %>?_method=delete" method="post" class="d-inline">
          <a class="btn btn-primary" href="javascript:void(0)" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">삭제</a>
        </form>
      </div>

      <h3 class="mybody">내 게시물</h3>
      <table class="board-table table table-sm border-bottom">

        <thead class="thead-light">
          <tr>
            <th scope="col" class="cate">분류</th>
            <th scope="col">제목</th>
            <th scope="col" class="author">글쓴이</th>
            <th scope="col" class="date">작성일</th>
          </tr>
        </thead>

        <tbody>
          <% if(posts == null || posts.length == 0){ %>
            <tr>
              <td colspan=2> There is no data to show :( </td>
            </tr>
          <% } %>
          <% posts.forEach(function(post) { %>
            <tr>
              <td class="cate">
                <span><%= post.category %></span>
              </td>
              <td>
                <a href="/posts/<%= post.id %>"><div class="ellipsis"><%= post.title %></div></a>
              </td>
              <td class="author">
                <div class="ellipsis"><%= post.author %></div>
              </td>
              <td class="date">
                <span data-date="<%= post.createdAt %>"></span>
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>

    </div>
  </body>
</html>